.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.main-container{
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(125, 44, 172), #200f20);
}
.header-container{
  padding: 10px;
}
.brand-name h5{
  color: white;
  font-size: 2rem;
}

.tagline-container p{
  background: #db366d;
    padding: 10px;
    text-align: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 10px;
}


.form-container {
  /* background: #db366d; */
  width: 100%;
  height: 80%;
  border-radius: 10px;
  /* display: block; */
  /* justify-content: center; */
  /* backdrop-filter: blur(10px); */
}

.form-container h5{
  text-align: center;
  margin: 10px;
}

/* .form-container form{
  flex-direction: column;

} */

.image-container{
  width:  100%; 
}

.image-container img{

  width: 100%;
  object-fit: contain;
  height: 70%;
}


/* .register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80%;
    margin: 0 10%;
    background: white;
    border-radius: 20px;
    width: 80%;
    flex-direction: column;
    border: 2px solid darkgray;

} */

hr{
  width: 75%;
  color: #200f20;
}

form{
  background: linear-gradient(6deg,rgb(214, 208, 208),rgb(192, 186, 186));
  padding: 16px;
  border-radius: 20px;
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  border: 1px solid rgba(128, 128, 128, 0.404);
  box-shadow: 4px 2px 7px 1px rgb(255, 241, 241);
}
h4{
  font-size: 10px;
  text-align: center;
  transition: ease-in 2s;
}

.registerbtn{
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  height: auto;
  border: transparent;
  border-radius: 5px;

  background-color: rgb(125, 44, 172);
  color: white;
}
@media (max-width:706px)
{
  .section-container{
    flex-wrap: wrap;
  }
}


.formInput{
  width: 90%;
}

.inputClass{
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 100% !important;
  border: 1px solid grey;
  border-radius: 5px;
}

.inputClass:hover{
  border: 2px solid rgb(125, 44, 172) !important;
}

.navigateBtn{
  cursor: pointer;
}

.form-footer{
  margin: 10px 0;
}

.form-footer p{
  font-size: 16px;
}

.brand{
  display: flex;
}
/* Set width of each tab to 50% and set width of button within each tab to 100%*/
.nav-item{
  width: 50%;
  cursor: pointer;
  background: rgb(125, 44, 172);

}
.nav-tabs{
  height: 50px;
  background: rgb(125, 44, 172);


}
.nav-tabs .nav-link{
  width: 100%;
  height: 50px;
  background: rgb(125, 44, 172);
  color: rgb(197, 193, 193) !important;
  font-weight: bold;
  font-size: 16px !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  width: 100%;
  border: transparent;
  border-bottom: 2px solid white !important;
  box-shadow: 0px 2px 2px rgb(171, 91, 218);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(125, 44, 172) !important;
  color: white  !important;
  
}

.nav-tabs .nav-link:hover{
  border: transparent ;
}

.tab__header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0px 2%;
  background:rgb(125, 44, 172) ;
  color: white;

}

.tab__header .brand{
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}


.chat__container{
  display: flex;
  width: 100%;
}

.chat__container .users__container{
  width: 33%;
  border-right: 1px solid black;
}

.user__container{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 0px rgb(216, 228, 221);
  gap: 20px;
  padding: 20px;
}

.user__image__container .circle{  
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
}

.user__name__container p{
  font-size: 1.2rem;
}

.status__indicator{
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    position: absolute;
    bottom: 9px;
    left: 52px;
}

.chat__content__container{
  background-image: url(./assets/chatBG.jpg);
  width: 67%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}


.chat__content__container::-webkit-scrollbar{
  display: none;
}

.chat__header , .chat__footer{
  width: 100%;
  height: 50px;
  background:rgb(125, 44, 172) ;

}

.chat__header{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 16px;
  color: white;
  position: sticky;
  top: 0;
}

.chat__header .user__image__container .circle{
  width: 25px;
  height: 25px;
}
.chat__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  width: 67%;
}

.chat__footer .input-container{
  flex: 1;
  border: 1px solid rgb(125, 44, 172) ;
  border-radius: 10px;
  
}

.chat__footer .icon__container{
  padding-left: 20px;
  cursor: pointer;
  color: rgb(125, 44, 172);
}

.no__user{
  width: 67%;
  height: 100vh;
  box-shadow: 0 2px 0px rgb(216, 228, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-user p{
  display: flex;
  justify-content: flex-start;
  height: max-content;
  align-items: center;
  padding-right: 20px;
  flex-direction: row;
}

.same-user p{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: max-content;
  padding-left: 20px;
  flex-direction: row;
}

.same-user p .user__message{
  border-radius: 10px;
  background:gray ;
  max-width: 50%;
  word-wrap: break-word;
  padding: 4px;
  margin: 2px;
}

.selected-user p .user__message{
  border-radius: 10px;
  background:lightgreen ;
  max-width: 50%;
  word-wrap: break-word;
  padding: 4px;
  margin: 2px;
}

.video__room{
  display: flex;
  flex-direction: column;
}

.video__room__container{
  background: black;
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: 90%;

}
.user__avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.video__page--user__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.join__room__form__container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  gap: 33px;
  padding: 16px;
  overflow-x: auto;
}

.join__room__form__container::-webkit-scrollbar{
  display: none;
}

.video__playing__container{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.button__container{
   color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }

/* .rstream{
   width: 100%;
   max-width: 100%;
   aspect-ratio: 1/1;
   object-fit: contain;
   position: relative;
}

.stream{
  width:450px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
} */

.button{
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: transparent;
  background: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

}

@media (max-width:700px)
{
  .chat__content__container{
    max-height: 416px;
  }
}

.avatar{
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  border-radius: 50%;
}

.call__screen__container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: black;
    border: transparent;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 50%;
}

.video__component{
  display: flex;
  justify-content: center;
}
.icon{
  cursor: pointer;
}